[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pyzbar = "*"
opencv-python = "*"
chime = "*"
click = "*"
pygame = "*"
pytest = "*"
qrcode = {extras = ["pil"], version = "*"}
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
